
  <ion-row>
    <ion-col size-md = "4" size-xs = "12">
      <ion-item>
        <ion-input placeholder="Journal tag" [(ngModel)]="tag"></ion-input>
       
        <ion-badge class="default-create-color" (click)="addItem(tag)">
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </ion-badge>
      </ion-item>
      
    </ion-col>
    <ion-col size-md = "4" size-xs = "12">
      <ng-container *ngFor="let item of chipListSet">
        <ion-chip (click)="removeItem(item)">
          <ion-label>{{item}}</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ng-container>
    </ion-col>
  </ion-row>
  <ion-row>
    
  </ion-row>

