<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="clear">
            <ion-icon name="add-circle-outline" size="large"></ion-icon>
            
          </ion-button>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        
        </ion-col>
      </ion-row>
      </ion-grid>
    
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search here" ></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>