
<sticky-header></sticky-header>

<ion-content (ionBlur)="setInputFocusOut($event)"   (ionFocus)="setInputFocus($event)">
  <div class="search ion-padding" >
    <ion-item lines="none" *ngIf="isResultView" >
      <ion-input [(ngModel)]="searchValue" [ngStyle]="{'background-color': reset ? '#fff' : ''}"  class="input-name"  placeholder="Search here"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

    <ion-title class="ion-no-padding-top">
    <ion-button class="default-create-color" shape="round"  fill="outline" size="small" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-title>
  <ng-container *ngIf="isResultView">
    <ng-container *ngFor="let item of journalEntryArray | customFilterPipe : searchValue : fieldSet: false; let i = index" >
      <result-card [resultItem]="item" (successEvent)="successEvent($event)"></result-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!isResultView">
    <full-page-calender (selectedDate)="dateSelection($event)"></full-page-calender>
    <ion-title>&nbsp;</ion-title>

    <ng-container *ngFor="let item of journalEntryArray | customFilterPipe : selecteDate : fieldSet: true; let i = index" >
      <result-card [resultItem]="item" (successEvent)="successEvent($event)"></result-card>
    </ng-container>


  </ng-container>
</ion-content>

  <ion-content *ngIf="isSearchView">
    <ion-item-group *ngFor="let group of [] | groupBy: 'date'">
      <ion-item-divider color="light">
          {{ group.itemDueDate }}
      </ion-item-divider>
      <ion-item *ngFor="let event of group.list">{{ event.itemName }}</ion-item>
  </ion-item-group>
</ion-content>