<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-fab  vertical="top" horizontal="center" edge slot="fixed" (click)="markAsFavorite($event)">
    <ion-fab-button [color]="isFavorite ? 'danger' : 'light'">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
   
  </ion-fab>
  <div class="ion-padding-vertical">
    
  </div>
  
  <ion-row>
        <ion-col>
          <app-chip-list (selectedTags)="tagSelectEvent($event)" [chipListSet]="chipListSet" ></app-chip-list>
        </ion-col>
        <ion-col size-md = "4" size-xs = "12">
        <ion-item>
          <ion-label>Date & Time</ion-label>
          <ion-datetime  [(ngModel)]="ioStringate" displayFormat="DD-MMM-YY HH:mm" (ionChange)="dateChanged($event)"></ion-datetime>
         </ion-item>
      </ion-col>
    </ion-row>
  

  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Editor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Preview</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation-selector">
    <ng-container *ngIf="isEdit">
      <ion-card  [ngClass]="favorite ? 'favorite-border' : ''" >
        <ion-card-header>
          <ion-card-title></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
            <quill-editor 
            (onContentChanged)="changeContent($event)" 
            (onFilesChanged)="onFilesChanged($event)"
            (onEditorCreated)="onEditorCreated($event)"
            formControlName="editor" [modules]="modules">

            </quill-editor>
          </form>
        </ion-card-content>
      </ion-card>
    </ng-container>


      <ng-container *ngIf="!isEdit">
        <preview-data [contentData]="contentData"></preview-data>
      </ng-container>
  
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light">Cancel</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button [disabled]="!(contentData)" *ngIf="!(navigationData && navigationData.currentJournalEntry)" (click)="save()" expand="full">Submit</ion-button>
      <ion-button [disabled]="!(contentData)" *ngIf="(navigationData && navigationData.currentJournalEntry)" (click)="update()" expand="full">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>